<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ELTE-cinema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/movie.js"></script>
</head>
<body>
<div th:replace="fragments/navbar"/>
<div class="container">
    <form id="movieSelect"  action="#" th:action="@{/getMovieById}" th:object="${simpleDto}" method="post">
        <div class="form-group" th:object="${simpleDto}" >
            <label th:text="#{movie.seletor}"></label>
            <select th:field="*{id}" class="form-control">
                <option th:each="item : ${movieList}" th:text="${item.getTitle()}" th:value="${item.getId()}"></option>
            </select>
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>
    <form action="#" id="modifyMovieForm" th:action="@{/modifyMovie}" th:object="${movieDto}" method="post">
        <div class="form-group">
            <label th:text="#{movie.title}"></label>
            <input type="text" class="form-control" th:field="*{title}"/>
        </div>
        <div class="form-group">
            <label th:text="#{movie.id}"></label>
            <input type="number" class="form-control" th:field="*{id}" readonly/>
        </div>
        <div class="form-group">
            <label th:text="#{movie.dubbed}"></label>
            <div class="form-select" th:each="item : ${dubList}">
                <label th:text="${item}"></label>
                <input type="checkbox" th:field="*{dubbed}" th:value="${item}" />
            </div>
        </div>
        <div class="form-group">
            <label th:text="#{movie.director}"></label>
            <input type="text" class="form-control" th:field="*{director}"/>
        </div>
        <div class="form-group">
            <label th:text="#{movie.story}"></label>
            <input type="text" class="form-control" th:field="*{story}"/>
        </div>
        <div class="form-group">
            <label th:text="#{movie.length}"></label>
            <input type="number" class="form-control" th:field="*{length}"/>
        </div>
        <div class="form-group">
            <label th:text="#{movie.limit}"></label>
            <select th:field="*{ageLimit}" class="form-control">
                <option th:each="item : ${limitList}" th:text="${item}" th:value="${item}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:text="#{movie.maxscreening}"></label>
            <input type="number" class="form-control" th:field="*{maxScreenNumber}"/>
        </div>
        <div class="form-group">
            <label th:text="#{movie.ticketsold}"></label>
            <input type="number" class="form-control" th:field="*{ticketSold}" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </form>
</div>
</body>
</html>