<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ELTE-cinema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/movie.js"></script>
</head>
<body>
<div th:replace="fragments/navbar"/>

<div class="container" id="modifyreservation_main_container">
    <form id="movieSelect"  action="#" th:action="@{/getTicketById}" th:object="${simpleDto}" method="post">
        <div class="form-group" th:object="${simpleDto}" >
            <label th:text="#{screening.selector}"></label>
            <select th:field="*{id}" class="form-control">
                <option th:each="item : ${ticketList}" th:text="${item.getName()}" th:value="${item.getId()}"></option>
            </select>
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>
    <form action="#" th:action="@{/modifyTicket}" th:object="${ticketDto}" method="post">
        <div class="form-group" th:object="${ticketDto}">
            <div class="form-group">
                <label th:text="#{ticket.movie.title}"></label>
                <input type="text" class="form-control" th:value="${screeningDto.getMovieTitle()}" readonly/>
            </div>
            <div class="form-group">
                <label th:text="#{ticket.movie.id}"></label>
                <input type="number" class="form-control" th:value="${movieDto.getId()}" id="movieId" name="movieId" readonly />
            </div>
            <div class="form-group">
                <label th:text="#{ticket.screening.start}"></label>
                <input type="text" class="form-control" th:value="${screeningDto.date}" readonly/>
            </div>
            <div class="form-group">
                <label th:text="#{ticket.screening.id}"></label>
                <input type="number" class="form-control" th:value="${screeningDto.getId()}" id="screeningId" name="screeningId" readonly/>
            </div>
            <div class="form-group">
                <label th:text="#{ticket.person.name}"></label>
                <input type="text" class="form-control" th:field="*{name}" />
            </div>
            <div class="form-group">
                <label th:text="#{ticket.person.age}"></label>
                <input type="number" class="form-control" th:field="*{age}">
            </div>
            <div class="form group">
                <label th:text="#{ticket.seat}"></label>
            </div>
            <div class="form-group">
                <label th:text="#{ticket.seat.row}"></label>
                <input type="number" class="form-control" th:field="*{seatX}" />
            </div>
            <div class="form-group">
                <label th:text="#{ticket.seat.column}"></label>
                <input type="number" class="form-control" th:field="*{seatY}" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    </form>
</div>
</body>
</html>